@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: #191825;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.TodoWrapper {
  width: 720px;
  aspect-ratio: 16/12;
  border:2px solid white;
  background: #1A1A40;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.input-field {
  position:relative;
}
.input-field input{
  width: 350px;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border: 2px solid #fff;
  background: transparent;
  outline: none;
  color: #fff; 
}
.input-field label{
  position:absolute;
  top:50%;
  left:15px;
  transform:translateY(-50%);
  color:#fff;
  font-size: 19px;
  pointer-events: none;
  transition:.3s;
}
input:focus {
  border:2px solid #1cd679;
}
input:focus ~ label,
input:valid ~ label{
  top:0;
  font-size: 16px;
  padding: 0 10px;
  background: #191825;
}
.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.55rem;
  cursor: pointer;
  margin-left: 1.5rem;
  height:60px;
}
.list{
  list-style-type: none;
  text-align: start;
  border:2px solid red;
  width: 75%;
  color:white;
  
}




/* 

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
} */
   